/* PHASE 2: Thumbs */
.profile-friends-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* grid-template-rows: 33% 33% 33%); */
}

.profile-friends-group > li:nth-child(3n-1) {
  margin: 0 10px 10px 10px;
}

.thumb {
  display: block;
  position: relative;
  width: 58px;
  height: 58px;
  border: 1px solid black;
}

.thumb:before {
  content: attr(title);
  display: none;
  position: absolute;
  left: 50%;
  top: -50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px;
  /* border-top: 20px solid black; */
  border-bottom: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.thumb.before {
  /* margin-top: -10px; */
}

.thumb:hover:before, .thumb:hover:after {
  display: block;
}